<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="CONSOLE_LOG_PATTERN">%d{DEFAULT} [%5p] (%c{8}:%L) >> %msg%n</Property>
        <Property name="FILE_LOG_PATTERN">%d{DEFAULT} [%5p] >> %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="${sys:CONSOLE_LOG_PATTERN}"/>
        </Console>
        <RollingFile name="LogToRollingFile" fileName="./midway-logs/midwayapi.log" immediateFlush="true"
                     filePattern="./midway-logs/$${date:yyyy-MM-dd}/midwayapi-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${sys:FILE_LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="org.apache.catalina.startup.DigesterFactory" level="error" />
        <Logger name="org.apache.catalina.util.LifecycleBase" level="error" />
        <Logger name="org.apache.coyote.http11.Http11NioProtocol" level="warn" />
        <Logger name="org.apache.sshd.common.util.SecurityUtils" level="warn"/>
        <Logger name="org.apache.tomcat.util.net.NioSelectorPool" level="warn" />
        <Logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="error" />
        <Logger name="org.springframework.boot.actuate.endpoint.jmx" level="warn"/>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="com.midway.starwarsapi" level="warn" additivity="false">
            <AppenderRef ref="LogToRollingFile"/>
        </Logger>
        <Logger name="org.springframework.boot" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToRollingFile"/>
        </Root>
    </Loggers>
</Configuration>
